/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
    margin: 0;
}

.mat-toolbar .mat-toolbar-row:not(:first-child) {
    height: auto;
    padding: 0;
}

.app-container > *:not(router-outlet),
.main-container > *:not(router-outlet) {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.main-container,
.drawer-container {
    padding: 24px;
}

.mat-h2 {
    margin-bottom: 0;
}

pre {
    background-color: #1d1f21;
    color: white;
    margin: 0;
    padding: 12px;
    border-radius: 4px;
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word;
    word-break: break-all;
}

a.active {
    font-weight: 500;
}

.mat-list-base[dense] {
    padding-top: 0 !important;
}
